<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de inicio</title>
    <style>
        html {
            margin-left: 5px;
        }
        h1 {
            margin-left: 10px;
        }
        th, td {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }
        th, td {
            width: 100px;
            height: 34px;
        }
        th {
            background-color: rgb(196, 196, 196);
        }
        tr:nth-child(odd) {
            background-color: rgb(238, 238, 238);
        }
        a {
            float: left;
            margin: 0 0 0 25px;
            padding: 2px;
            border: 1px solid rgb(73, 76, 121);
            color: rgb(73, 76, 121);
            text-decoration: none;
            background-color: rgb(214, 242, 255);
        }
        a:hover {
            color: white;
            background-color: rgb(73, 76, 121);
        }
    </style>
</head>
<body>
    <h2>Bienvenido, <%= usuario.nombre %></h2>
    <h3>Tus Tareas</h3>
    <table>
        <tr>
            <th> Tarea </th>
            <th> Fecha Inicio </th>
            <th> Fecha Vencimiento </th>
        </tr>
    <% for (var i = 0; i < tarea.length; i++) { %>
        <tr>
            <td> <a href="<%= tarea[i].link %>"> <%= tarea[i].nombre %> </a> </td> 
            <td> <%=tarea[i].fecha_inicio %> </td>
            <td> <%=tarea[i].fecha_vencimiento %> </td>
        </tr>
    <% } %>
    </table>
</body>
</html>